.navbar{

	margin-bottom: 0;
}


.container2{
	padding-top: 50px;
	padding-bottom: 50px;
	
	background-color: red;
	margin-left: 0;
	margin-right: 0;
	font-size:60px;
}

.container3{


	padding-right: 20px;
	padding-left: 20px;
	background-color: #ffff99;
	font-size:20px;
	text-align: justify;
	

}

.progress{
	
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 60px;

}
form{
	font-size: 20px;

	text-align: center;
	margin-left: 40px;
	margin-right: 40px;

}



footer{
	background-color: purple;
	margin right: : 0px;
	margin left: 0px;
	text-align: center;
	font-size: 50px;
}
.container4{

	margin-top: 10px;
}